body {
  background: white;
  color: black;
  font: 16px/1.75 'Lora', serif;
  margin: 0 auto 1em auto;
  width: 760px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  margin: 1rem 0;
}

img {
  border: solid 1px silver;
  display: block;
  float: right;
  height: auto;
  margin: 0 0 1rem 1rem;
  width: 48%;
}

a {
  color: blue;
  text-decoration: none;
}
  a:hover {
    border-bottom: solid 1px blue;
  }
  a:visited {
    color: blue;
  }
  a.selected {
    border-bottom: solid 1px silver;
    color: black;
  }

blockquote {
  font-style: italic;
  margin: 1rem;
}
  blockquote em {
    font-style: normal;
  }

header {
  background: url(/assets/img/panorama760x160.jpg) no-repeat;
  background-size: contain;
  border-bottom: solid 1px silver;
  margin-bottom: 3rem;
  padding-top: 160px;
  position: relative;
}
  header h1 {
    background: rgba(255, 255, 255, 0.5);
    font-family: 'Lora', serif;
    line-height: 1;
    margin: 0;
    padding: 0.25rem 0.5rem;
    position: absolute;
    text-shadow: 0 0 0.5rem white;
    top: 0.75rem;
    right: 1rem;
  }
    header nav ul {
      list-style: none;
      padding: 0;
    }
      header nav ul li {
        display: inline-block;
        margin-right: 1rem;
      }

header nav, main, footer p {
  margin: 0 auto;
  max-width: 37em;
  min-width: 25em;
}

footer {
  border-top: solid 1px silver;
  margin-top: 3rem;
}
  footer p {
    margin: 1rem auto 2rem auto;
  }

/* book cover flipper */

.cover {
    float: right;
    height: 375px;
    margin: 0 0 1rem 2rem;
    perspective: 100rem;
    position: relative;
    width: 250px;
}
    .cover .side {
        bottom: 0;
        box-shadow: rgba(0, 0, 0, 0.1) 0 1em 2em;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: all 0.75s ease-in-out;
        -webkit-backface-visibility: hidden;
           -moz-backface-visibility: hidden;
                backface-visibility: hidden;
    }
    .cover:not(.no-flip) .back          { transform: rotateY(180deg); }
    .cover:not(.no-flip):hover .front   { transform: rotateY(-180deg); }
    .cover:not(.no-flip):hover .back    { transform: rotateY(0); }
    .cover:not(.no-flip).hovered .front { transform: rotateY(-180deg); }
    .cover:not(.no-flip).hovered .back  { transform: rotateY(0); }
    .cover .side img {
        height: auto;
        width: 100%;
        /* overrides */
        padding: 0 !important;
          border: none !important;
          margin: 0 !important;
    }

@media only screen and (max-width: 768px) {
    .cover {
        height: 450px;
        width: 300px;
    }
}