<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <title>{{ htmlTitle }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="dns-prefetch" href="https://fonts.gstatic.com/">
    <link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin>
    <link rel="dns-prefetch" href="https://fonts.googleapis.com/">
    <meta name="description" content="Website of David Hedges, poet, satirist, and rabble rouser of Oregon City, Oregon">
    <meta name="keywords" content="david hedges, poems, life" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Lora:ital,wght@0,400;0,600;1,400;1,600&display=swap">
    <link rel="stylesheet" href="/assets/styles.css">
    <script defer src="/assets/behaviors.js"></script>
    <script type="application/ld+json">
    {
      "@context": "http://www.schema.org",
      "@type": "WebSite",
      "name": "david.hedges.name",
      "image": "https://david.hedges.name/assets/img/david-washington-stonehenge.jpg",
      "description": "Website of David Hedges, poet, satirist, and rabble rouser of Oregon City, Oregon"
    }
    </script>
  </head>
  <body>
    <header>
      <h1>{{ pageTitle }}</h1>
      <nav>
        {{{ navigation }}}
      </nav>
    </header>
    <main>
      {{{ content }}}
    </main>
    <footer>
      <p>
        Copyright &copy; 2005 – 2021 <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#100;&#97;&#118;&#105;&#100;&#64;&#104;&#101;&#100;&#103;&#101;&#115;&#46;&#110;&#97;&#109;&#101;">David Hedges</a>. All rights reserved.<br>
        Follow <a target="_blank" href="https://twitter.com/OregonPoet">@OregonPoet</a> on Twitter.
      </p>
    </footer>
  </body>
</html>
